@media only screen and (min-width: 481px) and (max-width: 1049px) {

body {
    margin: auto;
    width: 90vw;
}


.container {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    
}

#header {
    display: flex;
    background-color: #601316;
    margin: 0 auto;
    width: 100%;
    height: 60px;
}

#headerlogo1 {
    margin: 10px ;
    width: 100%;
    margin-top: 10px;
    padding: 0;
}

#headerlogo1 img {
    width: 60%;
    height: 100%;
    margin-left: 10px;
   
}

div.headerlogo2 {
    width: 100%;
    margin: 15px 20px;
    display: none;
}

#navbar {
    display: flex;
    width: 100%;
    height: 25px;
    background-color: black;
    justify-content: center;
    padding: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 5px;
}

li {
    display: inline-block;
    color: white;
    margin: 0 5px;
    padding: 0;
    font-family: arial;
    font-size: 20px;
}

#data1 {
    width: 100%;
    display: none;
}

#main-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#nav_top_news {
    background-color: #ddd;
    margin: 10px 0 10px;
    height: 3%;
    width: 100%;
}

p {
    color: #4b4b4b;
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 30px;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-with-text {
    display: inline-flex;
    width: 45%;
    height: 50%;
    justify-content: space-between;
    background-color: #000;
    position: relative;
    margin-bottom: 50px;
}

.imagerow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: #fff;
    overflow: inherit;
}
#vertical-image1 {
    height: 0;
    display: none; 
}    

#vertical-image1 img{
    height: 100%;
} 

#nav_popular {
    background-color: #ddd;
    width: 100%;
    padding: 0 auto;
    margin: 65px 0 0;
   
}

.img-with-text img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.text-block {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: white;
    padding: 2px auto;
    height: 30%;
    font-family: Arial;
    font-size: 10px;
    width: 100%;
    overflow: inherit;
}
.text-block p{
    margin: 10px 5px;
    font-size: 10px;
}

#horizontal-image{
    margin: 0;
    visibility: hidden;
} 
#horizontal-image img{
    width: 0;
    height: 0;
    display: none;
}
.image-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 80px;
    padding: 0;
    height: 20%;
}

.img-with-text-2 {
    width: 45%;
    height: 100%;
    justify-content: space-between;
    margin-top: 0px;
    position: relative;
}

.imagerow-2 {
    display: flex;
    flex-flow: wrap;
    /*flex-direction: column;*/
    justify-content: space-between;
    width: 100%;
    height: 100%; 
    margin: 10px 0;
}
.text-block-2 {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: #fff;
    padding: 2px auto;
    height: 40%;
    font-family: Arial;
    font-size: 10px;
    width: 100%;

}
.img-with-text-2 img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#vertical-image-2 img{
    height: 0;
    display: none;    
}
#vertical-image-2{
    height: 0;
    display: none;    
}

.footer_nav{
    width: 100%;
    height: 200px;
    background-color: #000;
    margin-top: 0px 0 0px;
    text-align: center;
}
.footer_nav p{
    color: #fff;
    margin: 0 auto;
}

#footer_banner{
    text-align: center;
    margin: 40px;
}
#footer_banner img{
   width: 75%;
    height: 50%;
}
#footer_final {
    text-align: center
}
}